<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户个人的所有bug提交</title>
    <%- include common%>
    <style>
        h5 img{
            width: 100%;
        }
    </style>
</head>
<body>

        <%- include('head',{title:'buglist'})%>
        <div class="container-fluid">
                <div class="row">
                    <!-- bug类型 s -->
                    <div class="col-md-6 col-lg-6  col-ls-6">
                        <h3 class="text-danger">用户信息详情-- <%-userInfo.username %></h3>
                        <div class="thumbnail">
                            <!-- 说明 -->
                            <div class="caption">                               
                                <p class="text-info">用户名: <%- userInfo.username%></p>
                                <p class="text-info">用户编号: <%- userInfo.uid%></p>
                                <p class="text-info">手机号: <%-userInfo.mobile%></p>
                                <button type="button" class="btn btn-danger" onclick="history.go(-1);">返回</button>
                            </div>
                        </div>
                    </div>
                    <!-- bug类型  e -->
    
                    <!--所有的 提交内容  s -->
                    <div class="col-md-6 col-lg-6  col-ls-6">
                        <h3 class="text-info"><%- userInfo.username%>的所有提交bug</h3>
                        <div class="well">
                            <%  comments.forEach((item,index)=>{  %>
                                <div class="" style="border: 2px dashed red; margin-top: 8px;">
                                    <h4 class="text-warning">提交人: <%- item.uname %> </h4>
                                    <h4 class="text-muted">提交时间: <%- dateFormat(item.time) %> </h4>
                                    <h4 class="text-success"> 标题:<%- item.title %></h4>
                                    <p class="text-danger"> 内容:<%- item.content %></p>
                                </div>
                            <%    }) %>
                        </div>
                    </div>
                    <!--所有的 提交内容  e -->
                </div>
        </div>
        <%- include foot%>
</body>
</html>